<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. VDS
4. JAVA
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Seaborn
3. Pytorch
4. Pandas
5. Keras

<h3>Below are a few examples of evaluating arithmetic expressions in Python <h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

**Objectives:**
* Add comments to code
* Create ordered and unordered list 
* Add  heading to mark down cells 
* Perform arithmathetic calculations
* Create markdown cells

<h2> Author </h2>
Ritika Agarwal

| Data Science Tools |
| --- |
| Anaconda | 
|Jupyter Notebook | 
| R Studio | 
|Spyder|
| Zeppelin|